      html {
        height: 100%;
        font-family: 'Orbitron';
        
      }
      ::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb
      select {
          font-family: Orbitron:400;
          font-size: 15px;
          -webkit-appearance: none;
          -webkit-appearance:


      }
      
      body {
        margin: 0;
        padding: 0;
        background: #000000 url(img/loading.gif) center center no-repeat;
        color: #ffffff;
        /* font-family: sans-serif; */
        font-family: 'Orbitron';
        font-size: 13px;
        line-height: 20px;
        height: 100%;
      }

      
      .hidden {
          display: none;
      }
      
      #container    {
          position:absolute;
          left: 360px;
          top: 2px;
          float: left;
          width: 1000px;
          //hight: 300px;
          
      }
      
      #info {

        font-size: 11px;
        position: absolute;
        bottom: 10px;
        background-color: rgba(0,0,0,0.8);
        border-radius: 3px;
        right: 10px;
        padding: 10px;

      }

      #currentInfo {
        width: 270px;
        position: absolute;
        left: 20px;
        top: 63px;

        background-color: rgba(0,0,0,0.2);

        border-top: 1px solid rgba(255,255,255,0.4);
        padding: 10px;
      }

      a {
        color: #aaa;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }

      .bull {
        padding: 0 5px;
        color: #555;
      }

      #title {
        position: absolute;
        text-align: center;
        top: 20px;
        width: 270px;
        left: 20px;
        background-color: rgba(0,0,0,0.2);
        border-radius: 3px;
        padding: 10px;
        
      }

      .year {
        font: 16px Georgia;
        line-height: 26px;
        height: 30px;
        text-align: center;
        float: left;
        width: 90px;
        color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
      }

      .year:hover, .year.active {
        font-size: 23px;
        color: #fff;
      }

      #ce span {
        display: none;
      }

      #ce {
        width: 107px;
        height: 55px;
        display: block;
        position: absolute;
        bottom: 15px;
        left: 20px;
        background: url(img/ce.png);
      }

      #back {

      }

      #description, #title {

          border: 2px;
          border-style:solid;
          border-color:green;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px; 
          top: 300px;
          box-shadow: 0px 0px 6px 0px #ffffff;
          text-shadow: 1px 1px 3px #888;

      }


/*      ::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb {
                //-webkit-appearance: none;
                background-color: #666;
                width: 10px;
                height: 20px;
                input { font-size: 14px; font-weight: bold; font-padding: auto; }  
                //input[type=range]:before { content: attr(min); padding-right:auto  ; }  
                //input[type=range]:after { content: attr(max); padding-left:auto;   }  

        }*/


        #speedsettings
                input[type=”range”]::-webkit-slider-thumb ::-moz-range-thumb, ::-ms-thumb {
                    -webkit-appearance: none;
                    
                    width:20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #fff;
                    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
                }

              //  input[type=range]:before { content: attr(min); padding-top:calc 0.5em  }  
               // input[type=range]:after { content: attr(max);   }  

      output {   
          display:block;
          alignment-adjust: auto;
          font-size: 5.5em;  
          font-weight: bold;  
      }  


      .styled-select select {
          background: transparent;
          width: 268px;
          padding: 5px;
          font-size: 16px;
          line-height: 1;
          border: 0;
          border-radius: 0;
          height: 34px;
          //-webkit-appearance: none;
      }


      .styled-select {
          width: auto;
          height: auto;
          overflow: hidden;
          background: url(new_arrow.png) no-repeat right #ddd;
          border: 1px solid #ccc;
      }


