<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>WebGL Globe</title>
        <meta charset="utf-8">
        <meta name="description" content="A realtime simulation of all tracked Twitter messages."/>
        <link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Orbitron:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/scene.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script type="text/javascript" src="js/third-party/Detector.js"></script>
        <script type="text/javascript" src="js/third-party/three.min.js"></script>
        <script type="text/javascript" src="js/third-party/Tween.js"></script>
        <script type="text/javascript" src="js/globe.js"></script>
        <script type="text/javascript" src="js/scene.js"></script>
    </head>
    <body>
        <div id="info">
            <strong><a href="http://www.chromeexperiments.com/globe">WebGL Globe</a></strong> <span class="bull">&bull;</span> Created by <a href="http://developersdevelopersdevelopersdevelopers.ytmnd.com/"> David Wylie B.Sc.(Hons)</a> And <a href="http://youtu.be/BsmMvox1eJI?t=42s"> John Hardman (B.A.(Hons)</a> .Data acquired from Twitter streaming API
        </div>

        <div id="title">
            <hr>
            <h1 id="datatitle"><b>Data Painting</b></h1>
            <div id="back" >  
                <hr>
                <br>
                <div id="description">   
                    <br>
                    Entre Tweet database or else
                    <br>
                    <div>
                        <input id='searchBox' type='text' />
                        <input id='button' type='submit' value='Search' />
                        <br>
                        <hr>
                        <br>
                        <label>
                            Previous entries:
                        </label>
                        <input id='outputsearch' type='text' value="Previous entries:"  />

                        <script>
                           $(function(){
                               var arr = [];
                               $('#button').on('click', function(e){
                                  e.preventDefault();
                                  arr.push($('#searchBox').val());
                                  $('#searchBox').val('');                     
                                  $('#outputsearch').val(arr);
                               });
                            });
                        </script>
                        
                        
                        
<!--                        <script>
                            $( "searchBox" ).return(function() {
                              var text = $( this ).text();
                              $( "outputsearch" ).val( text );
                            });
                        </script>
                        <script>
                              $('#searchBox').keypress(function(event) {
                                if (event.keyCode === 13) {
                                 $( "outputsearch" ).val( text );
                                 $(this).val('');
                                         }
                                     });
                        </script>
                        <script>
                            $(document).ready(function() {
                                    $('#searchBox').focus(function() {
                                        $(this).val('');
                                    });
                                });​

                        </script>-->
                        
                    </div>
                    <br>
                    <script>
                        var globe;
                        var container;
                        var data;

                        $(document).ready(function() {
                            initGlobe();
                        });

                        $("#button").on("click", function() {
                            search = $("#searchBox").val();
                            colour = Math.random();
                            addGlobeData(search,colour);
                        });
                        

                    </script>

                    <hr>

                    <p>
                        <br>

                        <br>
                    </p>
                </div>
            </div>


            <div id="container">

            </div>

            <div id="righthand">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </div>

    </body>

</html>
