<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>WebGL Globe</title>
        <meta charset="utf-8">
        <meta name="description" content="A realtime simulation of all tracked Twitter messages."/>
        <link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Orbitron:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/scene.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script type="text/javascript" src="js/third-party/Detector.js"></script>
        <script type="text/javascript" src="js/third-party/three.min.js"></script>
        <script type="text/javascript" src="js/third-party/Tween.js"></script>
        <script type="text/javascript" src="js/globe.js"></script>
        <script type="text/javascript" src="js/scene.js"></script>
    </head>
    <body>
        <div id="info">
            <strong><a href="http://www.chromeexperiments.com/globe">WebGL Globe</a></strong> <span class="bull">&bull;</span> Created by <a href="http://developersdevelopersdevelopersdevelopers.ytmnd.com/"> David Wylie B.Sc.(Hons)</a> And <a href="http://youtu.be/BsmMvox1eJI?t=42s"> John Hardman (B.A.(Hons)</a> .Data acquired from Twitter streaming API
        </div>

        <div id="title">
            <hr>
            <h1 id="datatitle"><b>Data Painting</b></h1>
            <div id="back" >  
                <hr>
                <br>
                <div id="description">   
                    <br>
                    Enter your search query:
                    <br>
                    (use scroll wheel)
                    <br>
                    <br>
                    <div>
                        <input id='searchBox' type='text' />
                        <input id='button' type='submit' value='Search' />
                        <br>
                        <br>
                        <hr>
                        <br>
                        <label>
                            Previous entries:
                        </label>
                        <div>
                            <ul id='outputsearch'>
     
                            </ul>
                        </div>
                        <script>
                           $(function(){
                               var arr = [];
                               $('#button').on('click', function(e){
                                  e.preventDefault();
                                  arr.push('<li class="previousSearch">' + $('#searchBox').val() + '</li>');
                                  $('#searchBox').val('');                     
                                  $('#outputsearch').html(arr);
                               });
                            });
                        </script>
                        
                        
                        
<!--                        <script>
                            $( "searchBox" ).return(function() {
                              var text = $( this ).text();
                              $( "outputsearch" ).val( text );
                            });
                        </script>
                        <script>
                              $('#searchBox').keypress(function(event) {
                                if (event.keyCode === 13) {
                                 $( "outputsearch" ).val( text );
                                 $(this).val('');
                                         }
                                     });
                        </script>
                        <script>
                            $(document).ready(function() {
                                    $('#searchBox').focus(function() {
                                        $(this).val('');
                                    });
                                });​

                        </script>-->
                        
                    </div>
                    <br>
                    <script>
                        var globe;
                        var container;
                        var data;

                        $(document).ready(function() {
                            initGlobe();
                        });

                        $("#button").on("click", function() {
                            search = $("#searchBox").val();
                            colour = Math.random();
                            addGlobeData(search, colour);
                        });



                    </script>

                    <hr>

                    <p>
                        <br>

                        <br>
                    </p>
                </div>
            </div>


            <div id="container">

            </div>

            <div id="righthand">
                Data visualization has changed from rigid charts and dry graphical data to a new kind of medium as larger and larger different types of data come available. 
                <br><br>
                From presentation to storytelling, correctly displaying large amounts of data dynamically can reveal hidden data which is not inherently apparent. Data Painting takes the Twitter streaming API can scans all incoming geo tagged messages for your search term and plots them on the globe.
                <br><br>
                With this you can paint your own picture of our earth using people emotions for example, see hot spots and groupings which can tell their own story. Everything in Data Painting is persistent unlike the fleeting nature of tweets and can show the exponential growth of developing news stories via social networking.


            </div>

    </body>

</html>
